
@media screen and (max-width: 1000px) {
    @font-face {
        font-family: "Base FC";
        src: url("./HuaGuangGangTieZhiHei-KeBianTi-2.ttf");
    }
    .navigator-wrapper {
        height: 80px;
        width: 100vw;
        background-color: rgb(255, 217, 0);
        padding-left: 16px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        box-sizing: border-box;
    }

    .navigator-wrapper > img {
        height: 64px;
    }

    .navigator-wrapper-club-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
        margin-left: 8px;
        align-self: flex-start;
    }

    .navigator-wrapper-club-name {
        font-size: 20px;
        font-family: "Base FC", serif;
        color: #221817;
    }

    .navigator-wrapper-club-born {
        font-size: 12px;
        font-family: "Base FC", serif;
        color: rgba(34, 24, 23, 0.74);
        margin-top: 20px;
    }

    .still-developing {
        font-size: 30px;
        font-family: "Base FC", serif;
        color: white;
        margin-top: 100px;
    }
}
@media screen and (min-width: 1001px) {
    @font-face {
        font-family: "Base FC";
        src: url("./HuaGuangGangTieZhiHei-KeBianTi-2.ttf");
    }
    .navigator-wrapper {
        height: 150px;
        width: 100vw;
        background-color: rgb(255, 217, 0);
        padding-left: 100px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        box-sizing: border-box;
    }

    .navigator-wrapper > img {
        height: 100px;
    }

    .navigator-wrapper-club-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 40px;
        margin-left: 10px;
        align-self: flex-start;
    }

    .navigator-wrapper-club-name {
        font-size: 26px;
        font-family: "Base FC", serif;
        color: #221817;
    }

    .navigator-wrapper-club-born {
        font-size: 12px;
        font-family: "Base FC", serif;
        color: rgba(34, 24, 23, 0.74);
        margin-top: 20px;
    }

    .still-developing {
        font-size: 30px;
        font-family: "Base FC", serif;
        color: white;
        margin-top: 100px;
    }
}